extends layout

block content
  h1= title
  p Welcome to #{title}

  .flexParent
    .thumbnail
      p This is a basic thumbnail.
    .thumbnail
      p This is another one.
    .thumbnail
      p And another one!
