extends layout

block content
  h1= title
  p Welcome to #{title}

  .flexParent
    .thumbnail
      h2 This is a basic thumbnail.
    .thumbnail
      h3 This is another one.
    .thumbnail
      h4 We'll use these all over the site.
    .thumbnail
      h4 Using pug, we can even
      h4 use loops to make them!
    div
      - for (var x = 0; x < 10; x++)
        .thumbnail
          h3 x = #{x}
