doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar
      h1 Fullstack Example
      a(href='www.fudge.com')  This is a link!
    block content
