doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar
      h1 Fullstack Example
      a(href='/') Home
      a(href='/hardcoded')  Hard-Coded Object examples
    block content
