extends layout

block content
  h1 This renders a template!


  //==================================
  // This is a pug file.  It is how we define our web pages.
  // When we want to render this page, our server will take this code and
  // turn it into html, then send that html to your browser.

